edaxsd/MasterData_01p31.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) von Illwerke VKW Aktiengesellschaft (illwerke vkw Aktiengesellschaft) bearbeitet -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.ebutilities.at/schemata/customerprocesses/common/types/01p20" xmlns:cp="http://www.ebutilities.at/schemata/customerprocesses/masterdata/01p31" targetNamespace="http://www.ebutilities.at/schemata/customerprocesses/masterdata/01p31" elementFormDefault="qualified">
	<xsd:import namespace="http://www.ebutilities.at/schemata/customerprocesses/common/types/01p20" schemaLocation="CPCommonTypes_01p20.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
			schema version: 01.31
			autor: Reinhold Hansmann
			valid from: 2023-07
			changes:
				MessageCode no enumeration
				DSOTariffClass enumeration
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="MasterData">
		<xsd:annotation>
			<xsd:documentation>Datenabgleich</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MarketParticipantDirectory" type="cp:MarketParticipantDirectory"/>
				<xsd:element name="ProcessDirectory" type="cp:ProcessDirectory"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MarketParticipantDirectory">
		<xsd:complexContent>
			<xsd:extension base="ct:MarketParticipantDirectory">
				<xsd:sequence>
					<xsd:element name="MessageCode" type="ct:MessageCode"/>
				</xsd:sequence>
				<xsd:attribute name="SchemaVersion" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:token">
							<xsd:enumeration value="01.31"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProcessDirectory">
		<xsd:complexContent>
			<xsd:extension base="ct:ProcessDirectory">
				<xsd:sequence>
					<xsd:element name="ContractPartner" type="cp:ContractPartner" minOccurs="0"/>
					<xsd:element name="DeliveryAddress" type="cp:DeliveryAddress" minOccurs="0"/>
					<xsd:element name="BillingData" type="cp:BillingData" minOccurs="0"/>
					<xsd:element name="MeteringPointData" type="cp:MeteringPointData" minOccurs="0"/>
					<xsd:element name="InvoiceRecipient" type="cp:InvoiceRecipient" minOccurs="0"/>
					<xsd:element name="AdditionalData" type="ct:AdditionalData" minOccurs="0" maxOccurs="1000"/>
					<xsd:element name="VerificationDocument" type="ct:VerificationDocument" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Address">
		<xsd:annotation>
			<xsd:documentation>Adresse</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ZIP" type="cp:ZIPC"/>
			<xsd:element name="City" type="cp:CityC"/>
			<xsd:element name="POBoxNo" type="cp:POBoxNoC" minOccurs="0"/>
			<xsd:element name="Street" type="cp:StreetC" minOccurs="0"/>
			<xsd:element name="StreetNo" type="cp:StreetNoC" minOccurs="0"/>
			<xsd:element name="Staircase" type="cp:StaircaseC" minOccurs="0"/>
			<xsd:element name="Floor" type="cp:FloorC" minOccurs="0"/>
			<xsd:element name="DoorNumber" type="cp:DoorNumberC" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillingData">
		<xsd:annotation>
			<xsd:documentation>Abrechnungsdaten</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReferenceNumber" type="cp:ReferenceNumber" minOccurs="0"/>
			<xsd:element name="GridInvoiceRecipient" type="cp:GridInvoiceRecipientC"/>
			<xsd:element name="BudgetBillingCycle" type="cp:BudgetBillingCycleC" minOccurs="0"/>
			<xsd:element name="MeterReadingMonth" type="cp:Months_0C" minOccurs="0"/>
			<xsd:element name="ConsumptionBillingCycle" type="cp:ConsumptionBillingCycleC" minOccurs="0"/>
			<xsd:element name="ConsumptionBillingMonth" type="cp:Months_0C" minOccurs="0"/>
			<xsd:element name="YearMonthOfNextBill" type="cp:YearMonth" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BudgetBillingCycleC">
		<xsd:annotation>
			<xsd:documentation>Abschlagszyklus - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:BudgetBillingCycle">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CityC">
		<xsd:annotation>
			<xsd:documentation>Ort - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:City">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ConsumptionBillingCycleC">
		<xsd:annotation>
			<xsd:documentation>Abrechnungszyklus - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:ConsumptionBillingCycle">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ContractPartner">
		<xsd:annotation>
			<xsd:documentation>Kundendaten</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Salutation" type="cp:Salutation" minOccurs="0"/>
			<xsd:element name="Name1" type="cp:NameC"/>
			<xsd:element name="Name2" type="cp:NameC" minOccurs="0"/>
			<xsd:element name="Name3" type="cp:NameC" minOccurs="0"/>
			<xsd:element name="Name4" type="cp:NameC" minOccurs="0"/>
			<xsd:element name="ContractPartnerNumber" type="cp:ContractPartnerNumber" minOccurs="0"/>
			<xsd:element name="DateOfBirth" type="xsd:date" minOccurs="0"/>
			<xsd:element name="DateOfDeath" type="xsd:date" minOccurs="0"/>
			<xsd:element name="CompanyRegistryNo" type="cp:CompanyRegistryNo" minOccurs="0"/>
			<xsd:element name="VATNumber" type="cp:VATNumber" minOccurs="0"/>
			<xsd:element name="Email" type="cp:Email" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryAddress">
		<xsd:annotation>
			<xsd:documentation>Lieferadresse</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ZIP" type="cp:ZIPC"/>
			<xsd:element name="City" type="cp:CityC"/>
			<xsd:element name="Street" type="cp:StreetC"/>
			<xsd:element name="StreetNo" type="cp:StreetNoC"/>
			<xsd:element name="Staircase" type="cp:StaircaseC" minOccurs="0"/>
			<xsd:element name="Floor" type="cp:FloorC" minOccurs="0"/>
			<xsd:element name="DoorNumber" type="cp:DoorNumberC" minOccurs="0"/>
			<xsd:element name="DeliveryAddressData" type="cp:DeliveryAddressDataC" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeliveryAddressDataC">
		<xsd:annotation>
			<xsd:documentation>Adresszusatz - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:DeliveryAddressData">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Device">
		<xsd:annotation>
			<xsd:documentation>Gerät</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DeviceNumber" type="cp:DeviceNumberC"/>
			<xsd:element name="MeterCode" type="cp:MeterCode" maxOccurs="1000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeviceNumberC">
		<xsd:annotation>
			<xsd:documentation>Gerätenummer - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:DeviceNumber">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DeviceTypeC">
		<xsd:annotation>
			<xsd:documentation>Gerätetyp - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:DeviceType">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DoorNumberC">
		<xsd:annotation>
			<xsd:documentation>Türnummer - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:DoorNumber">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricityGridLevelC">
		<xsd:annotation>
			<xsd:documentation>Spannungsebene - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:ElectricityGridLevel">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricitySpecificData">
		<xsd:annotation>
			<xsd:documentation>stromspezifische ZP-Daten</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GridUsageLevel" type="cp:ElectricityGridLevelC"/>
			<xsd:element name="GridLossLevel" type="cp:ElectricityGridLevelC"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FloorC">
		<xsd:annotation>
			<xsd:documentation>Stock - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:Floor">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="GasGridLevelC">
		<xsd:annotation>
			<xsd:documentation>Gasnetzebene - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:GasGridLevel">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="GasSpecificData">
		<xsd:annotation>
			<xsd:documentation>gasspezifische ZP-Daten</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PeakPower" type="cp:PeakPowerC"/>
			<xsd:element name="GridUsageLevel" type="cp:GasGridLevelC"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GridInvoiceRecipientC">
		<xsd:annotation>
			<xsd:documentation>Netzrechnungsempfänger - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:GridInvoiceRecipient">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="InvoiceRecipient">
		<xsd:annotation>
			<xsd:documentation>Rechnungsempfänger</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PartnerData" type="cp:ContractPartner"/>
			<xsd:element name="AddressData" type="cp:Address"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LoadProfileTypeC">
		<xsd:annotation>
			<xsd:documentation>Lastprofiltyp - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:LoadProfileType">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeteringPointData">
		<xsd:annotation>
			<xsd:documentation>ZP-Daten</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DeviceType" type="cp:DeviceTypeC"/>
			<xsd:element name="TransmissionCycle" type="cp:TransmissionCycleC" minOccurs="0"/>
			<xsd:element name="Device" type="cp:Device" minOccurs="0" maxOccurs="1000"/>
			<xsd:element name="SupStatus" type="cp:SupStatus"/>
			<xsd:element name="DSOTariffClass" type="cp:DSOTariffClassC"/>
			<xsd:element name="EnergyDirection" type="cp:EnergyDirection"/>
			<xsd:element name="EnergyCommunity" type="cp:EnergyCommunityC"/>
			<xsd:element name="TypeOfGeneration" type="cp:TypeOfGenerationC"/>
			<xsd:element name="ShortageCapacity" type="cp:ShortageCapacityC" minOccurs="0"/>
			<xsd:element name="ForecastConsumption" type="cp:ForecastConsumption"/>
			<xsd:element name="SupplyOfLastResort" type="cp:SupplyOfLastResort"/>
			<xsd:element name="LoadProfileType" type="cp:LoadProfileTypeC"/>
			<xsd:choice>
				<xsd:element name="ElectricitySpecificData" type="cp:ElectricitySpecificData" minOccurs="0"/>
				<xsd:element name="GasSpecificData" type="cp:GasSpecificData" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DSOTariffClassC">
		<xsd:annotation>
			<xsd:documentation>Tarifklasse Netzbetreiber (lt. SNVo) - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:DSOTariffClass">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ECData">
		<xsd:annotation>
			<xsd:documentation>Daten einer Energiegemeinschaft</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ECID" type="ct:MeteringPoint">
				<xsd:annotation>
					<xsd:documentation>Energiegemeinschafts-ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ECPartitionModell" type="cp:PartitionModell">
				<xsd:annotation>
					<xsd:documentation>Verteilungsmodell</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ECShare" type="cp:ECShare" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Anteil bei statischem Modell von Energiegemeinschaften in Prozent</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EnergyCommunityC">
		<xsd:annotation>
			<xsd:documentation>Energiegemeinschaft - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:EnergyCommunity">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Months_0C">
		<xsd:annotation>
			<xsd:documentation>Anzahl Monate - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:Months_0">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NameC">
		<xsd:annotation>
			<xsd:documentation>Name - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:Name">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PeakPowerC">
		<xsd:annotation>
			<xsd:documentation>Gas-Höchstleistung - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:PeakPower">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="POBoxNoC">
		<xsd:annotation>
			<xsd:documentation>Postfach - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ShortageCapacityC">
		<xsd:annotation>
			<xsd:documentation>Engpassleistung - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:ShortageCapacity">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StaircaseC">
		<xsd:annotation>
			<xsd:documentation>Stiege - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:Staircase">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StreetC">
		<xsd:annotation>
			<xsd:documentation>Straße - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:Street">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StreetNoC">
		<xsd:annotation>
			<xsd:documentation>HNr - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:StreetNo">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TransmissionCycleC">
		<xsd:annotation>
			<xsd:documentation>Übertragungsintervall Verbrauchsdaten - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:TransmissionCycle">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TypeOfGenerationC">
		<xsd:annotation>
			<xsd:documentation>Einspeiseart - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:TypeOfGeneration">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ZIPC">
		<xsd:annotation>
			<xsd:documentation>PLZ - mit Änderungskennzeichen</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="cp:ZIP">
				<xsd:attribute name="Changed" type="xsd:boolean" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="BudgetBillingCycle">
		<xsd:annotation>
			<xsd:documentation>Abschlagszyklus</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="00"/>
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="02"/>
			<xsd:enumeration value="03"/>
			<xsd:enumeration value="04"/>
			<xsd:enumeration value="06"/>
			<xsd:enumeration value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="City">
		<xsd:annotation>
			<xsd:documentation>Ort</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CompanyRegistryNo">
		<xsd:annotation>
			<xsd:documentation>Firmenbuchnummer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionBillingCycle">
		<xsd:annotation>
			<xsd:documentation>Abrechnungszyklus</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="02"/>
			<xsd:enumeration value="03"/>
			<xsd:enumeration value="04"/>
			<xsd:enumeration value="06"/>
			<xsd:enumeration value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ContractPartnerNumber">
		<xsd:annotation>
			<xsd:documentation>Kundennummer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9A-Za-z]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeliveryAddressData">
		<xsd:annotation>
			<xsd:documentation>Adresszusatz</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeviceNumber">
		<xsd:annotation>
			<xsd:documentation>Zählernummer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="18"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9A-Za-z]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DeviceType">
		<xsd:annotation>
			<xsd:documentation>Zählertyp</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="NONSMART"/>
			<xsd:enumeration value="IMN"/>
			<xsd:enumeration value="DSZ"/>
			<xsd:enumeration value="IMS"/>
			<xsd:enumeration value="IME"/>
			<xsd:enumeration value="LPZ"/>
			<xsd:enumeration value="PAUSCHAL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DoorNumber">
		<xsd:annotation>
			<xsd:documentation>Türnummer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DSOTariffClass">
		<xsd:annotation>
			<xsd:documentation>Tarifklasse Netzbetreiber (lt. SNVo)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="G"/>
			<xsd:enumeration value="GD"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="ND"/>
			<xsd:enumeration value="U"/>
			<xsd:enumeration value="UD"/>
			<xsd:enumeration value="E"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ECShare">
		<xsd:annotation>
			<xsd:documentation>Anteil bei statischem Modell in Prozent</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="4"/>
			<xsd:minInclusive value="0.0001"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ElectricityGridLevel">
		<xsd:annotation>
			<xsd:documentation>Strom Netzebene</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:maxInclusive value="7"/>
			<xsd:minInclusive value="1"/>
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Email">
		<xsd:annotation>
			<xsd:documentation>Email-Adresse</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="120"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnergyCommunity">
		<xsd:annotation>
			<xsd:documentation>Energiegemeinschaft</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="GC"/>
			<xsd:enumeration value="RC_L"/>
			<xsd:enumeration value="RC_R"/>
			<xsd:enumeration value="CC"/>
			<xsd:enumeration value="NONE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnergyDirection">
		<xsd:annotation>
			<xsd:documentation>Energierichtung (Erzeuger/Verbraucher)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CONSUMPTION"/>
			<xsd:enumeration value="GENERATION"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Floor">
		<xsd:annotation>
			<xsd:documentation>Stock</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ForecastConsumption">
		<xsd:annotation>
			<xsd:documentation>Prognostizierter Jahresverbrauch</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="10"/>
			<xsd:fractionDigits value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GasGridLevel">
		<xsd:annotation>
			<xsd:documentation>Gas Netzebene</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:maxInclusive value="3"/>
			<xsd:minInclusive value="1"/>
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GridInvoiceRecipient">
		<xsd:annotation>
			<xsd:documentation>Netzrechnung an</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="CUSTOMER"/>
			<xsd:enumeration value="SUPPLIER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoadProfileType">
		<xsd:annotation>
			<xsd:documentation>Lastprofiltyp (inkl. Temperaturzone bei Gas)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="[0-9A-Za-z\-\+]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeterCode">
		<xsd:annotation>
			<xsd:documentation>Zählwerkskennung</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Months_0">
		<xsd:annotation>
			<xsd:documentation>Monat; 0=monatlich; 1-12=entsprechender Monat; Angabe nur einer Zahl möglich</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:maxInclusive value="12"/>
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Name">
		<xsd:annotation>
			<xsd:documentation>Name</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PartitionModell">
		<xsd:annotation>
			<xsd:documentation>Teilnahmemodell</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="DYNAMIC"/>
			<xsd:enumeration value="STATIC"/>
			<xsd:enumeration value="INDIVIDUAL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PeakPower">
		<xsd:annotation>
			<xsd:documentation>Gas Höchstleistung in kWh/h</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="10"/>
			<xsd:fractionDigits value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReferenceNumber">
		<xsd:annotation>
			<xsd:documentation>Referenznummer (z.B: Debitorenkontnummer, Vertragskontonummer)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Salutation">
		<xsd:annotation>
			<xsd:documentation>Anrede</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ShortageCapacity">
		<xsd:annotation>
			<xsd:documentation>Engpassleistung Einspeiseanlagen in kW</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="15"/>
			<xsd:fractionDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Staircase">
		<xsd:annotation>
			<xsd:documentation>Stiege</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Street">
		<xsd:annotation>
			<xsd:documentation>Strasse</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StreetNo">
		<xsd:annotation>
			<xsd:documentation>Hausnummer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SupplyOfLastResort">
		<xsd:annotation>
			<xsd:documentation>Grundversorgung (Y/N)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="SupStatus">
		<xsd:annotation>
			<xsd:documentation>Versorgungsstatus</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="ON"/>
			<xsd:enumeration value="OFF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransmissionCycle">
		<xsd:annotation>
			<xsd:documentation>Übertragungsintervall Verbrauchsdaten</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="M"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeOfGeneration">
		<xsd:annotation>
			<xsd:documentation>Voll-/Überschusseinspeiser</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="NONE"/>
			<xsd:enumeration value="FULL"/>
			<xsd:enumeration value="SURPLUS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VATNumber">
		<xsd:annotation>
			<xsd:documentation>USt-ID</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YearMonth">
		<xsd:annotation>
			<xsd:documentation>JahrMonat YYYYMM</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="6"/>
			<xsd:pattern value="[12][0-9]{3}[01][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ZIP">
		<xsd:annotation>
			<xsd:documentation>Postleitzahl</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="1"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
